body{
    background-color:white;
    background-image: url(img/jpg.jpg);
    background-size: 100%;
}

.container{
    margin-top: 3%;
    width: 80%;
    height: 700px;
    margin-left: 10%;
    font-family: 'Amatic SC', cursive;
    font-weight:bold;
    display: flex;
    justify-content: space-around;
}

h1{
    color: white;
}

.box{
    width: 30%;
    margin-top: 10%;
    height: 400px;
    background-color: black;
    border: black 3px solid;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 0 80px white;
    transition: .9s;   
}

p{
    font-family: monospace;
    font-size: 20px;
    color: black;
}

img{
    width: 200px;
    
}

.box:hover{
    background-color: white;
    transform: scale(1.2);
}
